.contact {
    padding: 100px 0;
}
.contact__title {
    padding-bottom: 100px;
    color: rgb(33, 33, 33);

    font-size: 40px;
    font-weight: 900;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
}
.contact__content {
    display: flex;
    align-items: center;
    gap: 140px;

}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    background: rgb(33, 33, 33);
    padding: 80px 50px;
}


.contact__input input {
    padding: 15px 30px;
    color: rgb(72, 72, 72);
    font-size: 20px;
    background: rgb(187, 187, 187);
}

.contact__input input:focus {
    background: rgb(210, 210, 210);
}
.contact__btn {
    margin-top: 10px;
}
.contact__btn button{
    color: rgb(217, 217, 217);
padding: 13px 80px;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1px solid rgb(210, 210, 210);
    background: transparent;

    transition: 0.3s;
}

.contact__btn button:hover{
    background-color:  rgb(217, 217, 217);
    color: rgb(33, 33, 33);
}

.contact__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.contact__paragraph {
    color: rgb(33, 33, 33);

    font-size: 40px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}
.contact__paragraph_end {
    text-align: end;
}