.header {
    background: rgb(210, 210, 210);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid rgb(185, 185, 185);
    box-shadow: 0 0 5px 0 #888888;
    z-index: 101;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoIcon {
    width: 70px;
    height: 70px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__item a{
    position: relative;
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 900;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: left;

    transition: 0.7s;
}

.header__item a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.7s ease;
}
.header__item a:hover::after {
    background-color: rgb(91, 197, 121);
}

.header__item a:hover {
    color: rgb(91, 197, 121);
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {

    width: 45px;
    height: 45px;
}