.contact {
    padding: 220px 0;
}
.contact__title {
    padding-bottom: 100px;
    color: rgb(33, 33, 33);

    font-size: 40px;
    font-weight: 900;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
}
.contact__content {
    display: flex;
    align-items: center;
    gap: 140px;

}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    background: rgb(33, 33, 33);
    padding: 55px;
}

.contact__input {
}
.contact__input input {
    padding: 15px 30px;
    color: rgb(72, 72, 72);

    font-size: 20px;
}

.contact__btn button{
    color: rgb(217, 217, 217);
padding: 23px 30px;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1px solid rgb(210, 210, 210);
    background: transparent;
}

.contact__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.contact__paragraph {
    color: rgb(33, 33, 33);

    font-size: 40px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: 1%;
    text-align: left;
    text-transform: uppercase;
}
.contact__paragraph_end {
    text-align: end;
}