.header {
    background: rgb(210, 210, 210);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid rgb(185, 185, 185);
    box-shadow: 0 0 5px 0 #888888;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoIcon {
    width: 80px;
    height: 80px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__item a{
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 900;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: left;
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    width: 50px;
    height: 50px;
}