.swiper {
    width: 600px;
}

.swiper-wrapper {
    gap: 5px;
}
.swiper-pagination {
display: flex;
    justify-content: center;
    gap: 30px;
}
.swiper-pagination-bullet {

    padding: 10px;
}
.swiper-pagination-bullet-active {
background: rgb(91, 197, 121);
    box-shadow: 0 0 8px 0 rgb(17, 169, 73);
}