@media (max-width: 992px) {
    .footer__tel {
        width: 200px;
        font-size: 17px;
    }

    .footer__text {
        font-size: 17px;
        width: 200px;
        text-align: center;
    }

    .footer__mail{
        font-size: 17px;
        width: 200px;
        text-align: end;
    }
}

@media (max-width: 768px) {
    .footer__tel{
        font-size: 13px;
    }
    .footer__text {
        font-size: 13px;
    }

    .footer__mail{
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .footer__tel{
        font-size: 9px;
    }

    .footer__text {
        font-size: 9px;
    }

    .footer__mail {
        font-size: 9px;
    }
}