.container {
    max-width: 1230px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 15px;
}

body {
    font-family: Arial;
    background: rgb(210, 210, 210);
    letter-spacing: 1px;
}

.main {
}

section {
    background: transparent;
}